.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1;
  background-image: linear-gradient(#fff, #f4f9ff);
  padding-bottom: 2rem;
}

.title {
  color: #0F1E36;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
}

.musicList {
  grid-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(7rem ,1fr));
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
