.wrapper {
  width: 100%;
  height: 66px;
  background-color: #fff;
  border-bottom: 1px solid rgba(15, 30, 54, 0.05);
  :global {
    .container {
      height: 100%;
    }
  }
}
.searchBox {
  position: relative;
  height: 100%;
}

.input {
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 0.75rem;
}

.icon {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  font-size: 20px; // design: width="20" height="22"
  color: #0F1E36;
}
