/**
Usage:
  body {
    @include scrollbars(5px);
  }
  .custom-area {
    @include scrollbars(.5em);
  }
*/

@mixin scrollbar-variant(
  $size,
  $background: #f00,
  $background-thumb: #36556d,
  $background-thumb-hover: #ccc
) {
  overflow: auto;
  /* for Firefox */
  scrollbar-color: $background-thumb $background;
  scrollbar-width: thin;

  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $background-thumb;
    &:hover {
      background: $background-thumb-hover
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $background;
  }
}
