/**
* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
*/

@import "mixins/custom-scrollbar";

.custom-scrollbar {
  @include scrollbar-variant(5px, var(--color-background), #bdcad2, #ccc);

  &__horizontal {
    overflow-y: hidden;
  }
  &__vertical {
    overflow-x: hidden;
  }
}
