/**
  https://caniuse.com/#feat=css-variables

  For example:
  .element {
    color: var(--color-primary);
  }
*/

:root {
  --font-primary: "Mulish", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-size-standard: 0.75rem;   /* 12px */

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;           /* 1024px */
  --breakpoint-xl: 1200px;

  --color-border: #dadada;
  --color-placeholder: rgba(0, 0, 0, 0.5);
  --color-text: #0F1E36;
  --color-background: #E5E5E5;
  --color-primary: #2F904F;


  /* --color-info: #1890ff;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-danger: #f5222d; */
}
