*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-placeholder);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.15;
  font-size: 100%;
  width: 100%;
}

body {
  font-weight: 400;
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: var(--font-size-standard);
  background-color: var(--color-background);
}

button {
  border: 0;
  cursor: pointer;
  font-size: 1em;
  background: #fff;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--breakpoint-lg);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #__next {
    overflow-y: visible;
  }
}
