.tag {
  height: 2.125rem;
  border-radius: 0.375rem;
  border: 1px solid #dadada;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.6875rem;
  color: #0F1E36;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transition: color .3s, border-color .3s, background-color .3s ease;

  &:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:global {
    &.selected {
      color: #fff;
      border-color: var(--color-primary);
      background-color: var(--color-primary);
      font-weight: 600;
      &:hover {
        color: #fff;
      }
    }
  }

}
