.card {
  position: relative;
  cursor: pointer;
  &:hover {
    .imgwrap {
      opacity: .8;
    }
  }
}

.imgwrap {
  background-color: red;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: transparent url("/images/no-image.jpg") no-repeat;
  background-size: 100%;
  transition: opacity .3s ease;
}

.title {
  color: #0F1E36;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.description {
  font-size: 0.625rem;
  margin-top: 0.25rem;
  color: rgba(15, 30, 54, 0.48);
}
